*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #131921;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo img{
    height: 80px;
    width: auto;
    margin-top: 10px;
}

.navbar .deliver-to .deliver-to-text{
    color: #cccccc;
    font-size: 12px;
}

.navbar .deliver-to .deliver-to-flex-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.navbar .deliver-to .deliver-to-flex-icon i{
    margin-right: 5px;
    color: white;
    font-size: 15px;
}

.navbar .deliver-to .deliver-to-flex-icon p{
    font-size: 15px;
    color: white;
    font-weight: bolder;
}

.navbar .search-bar{
    height: 40px;
}

.navbar .search-bar select{
    background-color: #C9C9C9;
    height: 100%;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.navbar .search-bar input{
    background-color: #EEEEEE;
    height: 100%;
    width: 70vh;
    padding: 10px;
}

.navbar .search-bar button{
    background-color: #E39D41;
    height: 100%;
    width: 40px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.navbar .language-bar{
    
}

.navbar .language-bar select{
    background-color: #131921;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: large;
}

.navbar .sign-in p{
    color: white;
    margin-left: 5px;
}

.navbar .sign-in select{
    color: white;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 18px;
}

.navbar .returns-and-orders :nth-child(1){
    color: white;
    font-size: small;
}

.navbar .returns-and-orders :nth-child(2){
    color: white;
    font-size: large;
    font-weight: bolder;
}

.navbar .cart{
    color: white;
    font-size: 30px;
}

.navbar-2{
    background-color: #131921;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.navbar-2 ul li{
    display: inline;
    margin: 10px;
    font-size: 15px;
}